[submodule "smeserver-gitweb-theme-1.0.0/root/etc/e-smith/web/common/gitweb"]
	path = smeserver-gitweb-theme-1.0.0/root/etc/e-smith/web/common/gitweb
	url = https://MarcoHess@github.com/MarcoHess/gitweb-theme.git
